* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #0b0b0b;
  color: #fff;
}

.sidebar {
  width: 220px;
  background: #1a1a1a;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar .logo {
  color: orange;
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  background: orange;
  color: #000;
}


main {
  margin-left: 240px;
  padding: 20px;
  flex: 1;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.sections-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.section-box {
  background: #111;
  border: 2px solid orange;
  padding: 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.section-box:hover {
  background: orange;
  color: #000;
}


.check-section {
  margin-top: 20px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

textarea, input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: orange;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ffb84d;
}